@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
}

/* prefer to use inline styles if possible,
  but a few components have styles that rely on eachother
  inline here for ease of changing
*/

#top-nav {
  width: calc(100% - 240px);
}

#left-nav {
  width: 240px;
  flex-shrink: 0;
}

#right-nav {
  position: sticky;
  top: 70px;
  margin-top: 70px;
  height: calc(100vh - 70px);
  padding: 16px 16px 16px 0;
  width: 160px;
  flex-shrink: 0;
}

#main-container {
  width: calc(100% - 240px);
  display: flex;
}

#main-content {
  padding-top: 112px;
  padding-left: 48px;
  padding-right: 48px;
  width: calc(100% - 160px);
}
